html{
  scroll-behavior: smooth;
}
html,
.body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
}
.title{
  color: var(--h-1, #FFF6D7);
/* H1 */
font-family: Alumni Sans;
font-size: 128px;
font-style: normal;
font-weight: 600;
line-height: 55px; /* 42.969% */
text-transform: uppercase;

margin-top: 200px;
margin-bottom: 40px;
}
.subtitle{
  color: var(--h-2, #48412F);
/* H2 заголовок */
font-family: Alumni Sans;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}